
table{
display: inline-block;
}

.carta {
    width: 100%;
}

tr {
    border: 2px;

}

td, th {
    vertical-align: text-top;
    text-align: left;
    padding: 5px;
    border: 0px;
}

div {
    display: block;
    width: 45%;
    margin: 2%;
}


.titulo {
    text-transform: uppercase;
    background-color:lightgray;
    
}
.rojo{
border: 2px solid red;
}
.negro{
border: 2px solid black;
}